.nav-middle .search-box{
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
}
.nav-middle .search-box input{
    border: none;
    width: 400px;
    outline: 0;
    background: transparent;
}
.nav-middle .search-box img{
    width: 15px;
}